
@model List<AssignRoleToUserViewModel>


<div class="wrapper vh-100">
    <div class="row align-items-center h-100">
        <form class="col-lg-3 col-md-4 col-10 mx-auto text-center" asp-controller="member" asp-action="AssignRoleToUser" asp-route-userId="@ViewBag.UserId" method="post">
            <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="./index.html">
                <svg version="1.1" id="logo" class="navbar-brand-img brand-md" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
                <g>
                <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
              </g>
            </svg>
            </a>
            <h1 class="h6 mb-3">Kullanıcıı Role Atama</h1>
           
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="checkbox mb-3">
                    <div>
                        <span class="mb-3 text-muted">@Model[i].Name</span>
                        <input class="mb-3" type="checkbox" asp-for="@Model[i].Exist">
                        <input class="mb-3" type="hidden" asp-for="@Model[i].Name">
                        <input class="mb-3" type="hidden" asp-for="@Model[i].Id">
                    </div>
                </div>
            }
           
            <button class="btn btn-lg btn-primary btn-block" type="submit">Role Ata</button>
            <p class="mt-5 mb-3 text-muted">© 2023</p>
        </form>
    </div>
</div>