@using Victory.Core.ViewModels.Menu;

@{
    ViewData["Title"] = "Victory Admin Panel Menu";
}

@model MenuViewModel

<div class="container mt-5">
    <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
                <div class="tm-product-table-container">
                    <table class="table table-hover tm-table-small tm-product-table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Category</th>
                                <th scope="col">Status</th>
                                <th scope="col">&nbsp; Tools</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Products)
                            {
                                <tr>
                                    <td class="tm-product-name">@item.Name</td>
                                    <td>@item.Price</td>
                                    <td>@item.Category.Name </td>
                                    <td>
                                        <div class="tm-status-circle @(item.IsActive ? "moving" : "cancelled") ">
                                        </div> @(item.IsActive ? "Active" : "Inactive")
                                    </td>

                                    <td>
                                        <a class="tm-product-delete-link" asp-area="admin" asp-controller="product" asp-action="safedelete" asp-route-id="@item.Id">
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                        </a>
                                        <a asp-area="admin" asp-controller="product" asp-action="update" asp-route-id="@item.Id" class="tm-product-delete-link"><i class="fas fa-cog"></i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <a class="btn btn-primary btn-block text-uppercase mb-3" asp-area="admin" asp-controller="product" asp-action="add">Add new product</a>

            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
                <h2 class="tm-block-title">Product Categories</h2>
                <div class="tm-product-table-container">
                    <table class="table tm-table-small tm-product-table">
                        <tbody>

                            @foreach (var item in Model.Categories)
                            {
                                <tr>
                                    <td class="tm-product-name"> <a style="color:white;" asp-area="admin" asp-controller="category" asp-action="update" asp-route-id="@item.Id">@item.Name</a>  </td>
                                    <td class="text-center">
                                        <a asp-area="admin" asp-controller="category" asp-action="safedelete" asp-route-id="@item.Id" class="tm-product-delete-link">
                                            <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- table container -->
                <a class="btn btn-primary btn-block text-uppercase mb-3" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" >
                    Add new category
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form>

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Category</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    
                    <div class="form-group col-lg-6">
                        <label class="d-block form-label" style="color:black">Category Name</label>
                        <input type="text"
                               class="form-control validate" id="categoryName" />
                    </div>
                    <span ></span>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" data-keyboard="false" id="btnSave" class="btn btn-primary">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
    {

    <script src="~/js/categoryAdd.js"></script>
    <script>
        var app = app || {};
        app.Urls = app.Urls || {};
        app.Urls.baseUrl = '@Url.Content("~")';
        app.Urls.categoryAddUrl = "@(Url.Action("AddWithAjax", "Category"))";
        app.Urls.indexMenuUrl = "@(Url.Action("index", "menu"))";
    </script>

}